
:root {
    --body-bg: #ececec;
    --nav-bg: #ffffff;
    --nav-icons-color: #4f4f4f;
    --container-bg: #ffffff;
    --text-color: #828282;
    --title-color: #4f4f4f;
    --action-color: #8050f3;

    --toggle-bg: #c4c4c4;
    --toggle-dot-bg: #ffffff;

    --interaction-color: #4f4f4f;
    --interaction-active-color: #ffa600;
}

.dark-mode:root {
    --body-bg: #262626;
    --nav-bg: #414141;
    --nav-icons-color: #c5c5c5;
    --container-bg: #414141;
    --text-color: #ababab;
    --title-color: #c5c5c5;

    --toggle-bg: #595959;
    --toggle-dot-bg: #a6a6a6;
}

.display-in-dark,
.display-in-light {
    display: none !important;
}

html:not(.dark-mode) .display-in-light {
    display: inherit !important;
}

html.dark-mode .display-in-dark {
    display: inherit !important;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand/Quicksand.ttf");
}

body {
    font-family: Quicksand, sans-serif !important;
    background-color: var(--body-bg) !important;
    color: var(--text-color) !important;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, .6);
    background-clip: padding-box;
}

.j-image-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.j-image-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.j-responsive-card {
    width: calc(25% - (3 * 16px) / 4);
}

@media screen and (max-width: 1280px) {
    .j-responsive-card {
        width: calc(33.33% - (2 * 16px) / 3);
    }
}

@media screen and (max-width: 991px) {
    .j-responsive-card {
        width: calc(50% - 16px / 2);
    }
}

@media screen and (max-width: 768px) {
    .j-responsive-card {
        width: 100%;
    }
}

.j-navbar {
    position: fixed;
    left: 10px;
    top: 10px;
    bottom: 10px;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    background-color: var(--nav-bg);
    padding: 8px;
    z-index: 999;
}

.j-navbar .j-navbar-brand {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--title-color);
    gap: 8px;
}

.j-navbar .j-navbar-brand .icon {
    font-size: 17pt;
    color: var(--nav-icons-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    cursor: pointer;
}

.j-navbar .j-navbar-brand .brand {
    position: absolute;
    left: calc(100% + 10px);
    transition: all .2s ease;
    pointer-events: none;
    display: flex !important;
    white-space: nowrap;
    opacity: 0;
}

.j-navbar .j-navbar-brand:hover .brand {
    left: calc(100% + 20px);
    opacity: 1;
}

.j-navbar .j-navbar-user {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--title-color);
    gap: 8px;
}

.j-navbar .j-navbar-user .picture {
    font-size: 17pt;
    color: var(--nav-icons-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    padding: 6px;
    cursor: pointer;
}

.j-navbar .j-navbar-user .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.j-navbar .j-navbar-user .name {
    position: absolute;
    left: calc(100% + 10px);
    transition: all .2s ease;
    pointer-events: none;
    display: flex !important;
    white-space: nowrap;
    opacity: 0;
}

.j-navbar .j-navbar-user:hover .name {
    left: calc(100% + 20px);
    opacity: 1;
}

.j-navbar .j-navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.j-navbar .j-navbar-menu .nav-menu-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.j-navbar .j-navbar-menu.full-size {
    flex: 1;
}

.j-navbar .j-navbar-menu .j-nav-item {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: 8px;
}

.j-navbar .j-navbar-menu .j-nav-item:hover {
    background-color: rgba(128, 128, 128, .2);
    cursor: pointer;
}

.j-navbar .j-navbar-menu .j-nav-item.active:before {
    position: absolute;
    background: var(--action-color);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    content: '';
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.j-navbar .j-navbar-menu .j-nav-item.active .icon {
    color: var(--action-color);
}

.j-navbar .j-navbar-menu .j-nav-item .icon {
    font-size: 17pt;
    color: var(--nav-icons-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s;
    border-radius: 40px;
    overflow: hidden;
}

.j-navbar .j-navbar-menu .j-nav-item .icon.picture {
    padding: 6px;
}

.j-navbar .j-navbar-menu .j-nav-item .icon.picture img {
    border-radius: 6px;
}

.j-navbar .j-navbar-menu .j-nav-item .title {
    background: var(--container-bg);
    position: absolute;
    left: calc(100% + 10px);
    transition: all .2s ease;
    pointer-events: none;
    display: flex !important;
    white-space: nowrap;
    color: var(--title-color);
    padding: 2px 12px 2px 6px;
    border-radius: 4px;
    opacity: 0;
}

.j-navbar .j-navbar-menu .j-nav-item .title:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 18px;
    height: 18px;
    background: var(--container-bg);
    border-radius: 0 8px 0 4px;
    z-index: -1;
}

.j-navbar .j-navbar-menu .j-nav-item:hover .title {
    left: calc(100% + 25px);
    opacity: 1;
}

.j-content {
    display: flex;
    flex-direction: column;
    padding: 12px 16px 16px 80px;
    gap: 16px;
}

@media screen and (max-width: 991px) {
    .j-content {
        padding: 8px 8px 100px 8px;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 991px) {
    .j-navbar {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        top: initial;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 0;
        max-width: 100%;
        width: 100%;
    }

    .j-navbar .j-navbar-menu > * {
        display: none !important;
    }

    .j-navbar .j-navbar-menu .nav-menu-group {
        display: flex !important;
        flex-direction: row;
        justify-content: space-around;
        flex: 1;
    }

    .j-navbar .j-navbar-brand {
        display: none;
    }

    .j-navbar .j-navbar-menu {
        flex-direction: row;
        justify-content: space-around;
    }

    .j-navbar .j-navbar-menu .j-nav-item {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: var(--nav-icons-color);
        gap: 0;
    }

    .j-navbar .j-navbar-menu .j-nav-item.j-nav-item-profile {
        display: none !important;
    }

    .j-navbar .j-navbar-menu .j-nav-item.active {
        color: var(--action-color);
    }

    .j-navbar .j-navbar-menu .j-nav-item.active:before {
        all: unset;
    }

    .j-navbar .j-navbar-menu .j-nav-item:hover {
        background: initial;
    }

    .j-navbar .j-navbar-menu .j-nav-item .icon {
        font-size: 16pt;
    }

    .j-navbar .j-navbar-menu .j-nav-item .title {
        all: unset !important;
        font-size: 8pt !important;
    }
}

.float-navbar {
    display: none;
}

@media screen and (max-width: 991px) {
    .float-navbar {
        display: flex;
    }
}

.float-navbar {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--container-bg);
    top: 16px;
    left: 16px;
    z-index: 999;
    transition: all .2s ease;
}

.float-navbar:after,
.float-navbar:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 2px;
    background: var(--title-color);
    border-radius: 3px;
    box-shadow: 0 6px 0 var(--title-color), 0 -6px 0 var(--title-color);
    transition: all .3s ease;
}

.float-navbar.active {
    box-shadow: 0 0 0 calc(100vh + 100vw) var(--container-bg);
}

.float-navbar.active:before {
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: none;
}

.float-navbar.active:after {
    transform: translate(-50%, -50%) rotate(-45deg);
    box-shadow: none;
}

.float-navbar .float-navbar-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .1s linear;
    pointer-events: none;
    padding: 16px;
    width: 100%;
    height: 100%;
    opacity: 0;
    gap: 8px;
    z-index: -1;
}

.float-navbar.active .float-navbar-menu {
    pointer-events: all;
    opacity: 1;
}

.float-navbar.active .float-navbar-menu {
    pointer-events: all;
    opacity: 1;
}

.float-navbar .float-navbar-menu .float-navbar-menu-item {
    font-size: clamp(14pt, 10vw, 20pt);
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
}

.float-navbar .float-navbar-menu .float-navbar-menu-item:active {
    background: rgba(128, 128, 128, .1);
}


/* Modal styles */
.j-modal-content {
    border-radius: 8px;
    background-color: var(--container-bg) !important;
    color: var(--title-color) !important;
    animation: popup .2s ease-in-out forwards;
}

.j-modal-content .modal-header {
    font-size: 12pt;
    color: var(--title-color);
    border-color: rgba(128, 128, 128, .3);
}

.j-modal-content .modal-header .close {
    cursor: pointer;
}

.j-modal-content .modal-footer {
    font-size: 12pt;
    color: var(--title-color);
    border-color: rgba(128, 128, 128, .3);
}

.j-settings-list {
    display: flex;
    flex-direction: column;
}

.j-settings-list .setting-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px 8px;
}

.j-settings-list .setting-item:hover {
    backdrop-filter: brightness(95%);
}

.toggle {
    width: 40px;
    height: 20px;
    border-radius: 40px;
    background-color: var(--toggle-bg);
    border: solid 2px var(--toggle-bg);
    position: relative;
}

.toggle .dot {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    background-color: var(--toggle-dot-bg);
    color: var(--toggle-bg);
    transition: all .1s;
    font-size: 6pt;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
}

.toggle input:checked + .dot {
    left: 100%;
    transform: translate(-100%);
}

@keyframes popup {
    0% {
        transform: scale(0.8);
    }
    60% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}